RewriteEngine on

# Exclude existing files and directories from the rewrite rule
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Set MIME types for JavaScript files
AddType application/javascript .js
AddType application/javascript-module .mjs

# Rewrite all other URLs to index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]